@font-face {
    font-family: las-Lato;
    src: url(/fonts/Lato2OFLWeb/Lato/fonts/Lato-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-partner {
  display: flex;
  flex-direction: column;
  background-color: #272a32;
  color: white;
  padding: 5Opx 0;
  justify-content: center;
}

.partner-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.partner-heading span {
  color: #ec5141;
  text-align: center;
  width: 10%;
  height: 1%;
  line-height: 5%;
  padding-bottom: 20px;
}

.partner-heading h2 {
  font-family: las-Lato, sans-serif;
  text-align: center;
  color: #8c8c8c;
  font-weight: 300;
  font-size: 28px;
}

.partner-details {
  padding-top: 20px;
  color: #8c8c8c;
}

.partner-details ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.partner-details ul li {
  padding: 0 10px;
}

.partner-details ul li a {
  text-decoration: none;
  line-height: 35px;
  font-size: 30px;
  color: #8c8c8c;
}

.footer {
  display: flex;
  background-color: #fff;
  flex-direction: row;
  padding: 30px 100px;
  justify-content: center;
}

.footer-details {
  text-align: start;
  padding-left: 5px;
}

.footer-details h5 {
  font-size: 14px;
  line-height: 20px;
}

.footer-details p {
  line-height: 22px;
  font-size: 14px;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 59vw;
}

.footer-logo h4 {
  line-height: 18px;
  font-size: 20px;
  font-family: light-Lato, sans-serif;
  font-weight: 900;
}

.footer-logo h5 {
  padding-right: 5px;
  line-height: 25px;
  border-radius: 50%;
  border: 2px solid black;
  text-align: center;
  font-size: 14px;
  padding-left: 4px;
}

@media only screen and (max-width: 768px) {
  .partner-details {
    padding: 0;
  }

  .partner-details ul {
    display: flex;
    padding: 0;
    gap: 5px;
    flex-wrap: wrap;
  }

  .footer {
    display: flex;
    background-color: #fff;
    flex-direction: row;
    padding: 20px 10px;
    justify-content: center;
  }

  .footer-details p {
    display: none;
  }

  .footer-logo h4 {
    line-height: 15px;
    font-size: 14px;
    font-family: light-Lato, sans-serif;
    font-weight: 900;
    padding: 0 2px;
  }

  .footer-details h5 {
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    padding-left: 2px;
  }

  .footer-partner {
    padding: 15px 0;
  }

  .footer-hide {
    display: none;
  }
}
  